.div{
    content: center;
    
  }
  

  .Button {
    position:sticky;
left: 50%;
margin-top:10%;
margin-bottom: 27px;
}
  
  .from {
  
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .base-container {  
   
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 4em;
    align-items: center;
    
  }
  .content {
    
    width: 70%;
    display: flex;
  
    flex-direction: column;
    
  }
  .header {
    
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
  }
  input {
    margin-top: 3px;
    min-width: 18em;
    height: 37px;
    padding: 0px 10px;
    font-size:16px;
    font-family: "Open Sans", sans-serif;
    background-color: #f3f3f3;
    border: 0;
    border-radius: 4px;
    margin-bottom: 31px;
    transition: all 250ms ease-in-out;
  }
    .hover {
      background-color: #ffffff;
      box-shadow: 0px 0px 14px 0.3px #0e81ce96;
    }
    .focus {
      outline: none;
      box-shadow: 0px 0px 12px 0.8px #3474dbb2;
    }
  
    .searchForm{
      margin-left: 550px
    }
  
/*   
    .form-group {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    
    }
  
      .label {
        font-size: 20px;
      }
      .footer {
        margin-top: 3em;
      }
    */
       